body {
  margin: 0;
  background: black;
  overflow: hidden;
}
#gameArea {
  position: relative;
  width: 100vw;
  height: 100vh;
}
#ship {
  position: absolute;
}
.progress-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e0e0e0;
}
.progress-bar {
  height: 40px;
  width: 100%;
  background-color: #ff0000;
  transition: width 0.1s linear;
}
.cursor {
  position: absolute;
  top:0;
  left: 0;
  width: 100px;
  height: 100px;
  transform:translate(-3%, -3%);
}
.imgsize{
  width: 100px;
  height: 100px;
}
.sung{
  margin-left: 41%;
  width: 300px;
  height: 200px;
}
.boss{
  color: white;
  text-align: center;
}
.bullet {
  width: 5px;
  height: 20px;
  background: yellow;
  position: absolute;
}
.bossbullet {
  width: 5px;
  height: 20px;
  background: rgb(255, 0, 0);
  position: absolute;
}
.hpcolor{
  position: fixed;
  top: 15px;
  left: 10px;
  margin-left: 0%;
  color: white;
}
.gameov{
  display: none;
  text-align: center;
  margin-top: 500px;
  color: white;
}
.win{
  display: none;
  text-align: center;
  margin-top: 500px;
  color: white;
}
.pusenty{
  position: fixed;
  top: 15px;
  right: 0;
  margin-left: 0%;
  color: white;
}