p{
    color: #000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FFF;
    font-family: Jua;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}